<!DOCTYPE html>
<meta charset=utf-8>
<html>
<head>
<title>CSS Tabs</title>
<link rel="stylesheet" href="leon.css">
</head>
<body>
  <div class="tabbed">
    <input type="radio" name="tabs" id="tab-nav-1" checked>
    <label for="tab-nav-1">Наши услуги</label>
    <input type="radio" name="tabs" id="tab-nav-2">
    <label for="tab-nav-2">Цены. Прайс</label>
    <input type="radio" name="tabs" id="tab-nav-3">
    <label for="tab-nav-3">Материалы</label>
    <input type="radio" name="tabs" id="tab-nav-4">
    <label for="tab-nav-4">Контакты</label>
    <div class="tabs">
      <div><h2>НАШИ УСЛУГИ</h2><br> Компания <strong>LeonAutoTrans</strong> предоставляет услуги доставки\заказа таких материалов как песок, щебень, гранитный отсев, б\у щебень, подсыпка, а так же предоставляет отдельные услуги грузоперевозки подобных материалов между объектами, по Киеву и Киевской области. Более детальную информацию о материалах, их цене и контакты Вы можете найти в соответствующих разделах.
      <br>
      <br> <strong>Обратите внимание!</strong> компания предоставляет улуги перевозки при заказе продукции от 25 тонн. Техника, которую мы используем способна, перевозить колличество материала до 37 тонн.
      </div>
          <div><h2>ЦЕНА на материалы</h2>
            <p>Ориентировочная стоимость<strong> подсыпки</strong> c доставкой  <strong>от 50 грн/т;</strong></p>
            <p>Ориентировочная стоимость <strong>речного песка</strong> с доставкой  <strong>от 50 грн/т;</strong></p>
            <p>Ориентировочная стоимость <strong>овражного песка</strong> с доставкой <strong> от 50 грн/т;</strong>
            <p>Ориентировочная стоимость <strong>гран.отсева</strong> с доставкой  <strong>от 118 грн/т;</strong></p>
            <p>Ориентировочная стоимость <strong>щебня</strong> с доставкой  <strong>от 118 грн/т;</strong></p>
            <p>Ориентировочная стоимость <strong>б/у щебня</strong> с доставкой <strong>от 80 грн/т;</strong></p>
            <p style="text-align: center;"><span style="font-size: 19px; color: #5DE45F;"><strong>При заказе продукции более 300т. - предоставляется СКИДКА!</strong></span></p>
            <br>
            <h2>Стоимость аренды техники</h2>
            <p>Самосвал (6\6) грузоподъемностью 25-32т - 2500грн\7часов</p>
            <p>Самосвал (8\4) грузоподъемностью 30-37т - 2800грн\7часов</p>
          </div>
      <div>
      <h2>МАТЕРИАЛЫ</h2>
      <h2>Речной песок</h2>
      <p>Речной песок — это строительный песок, добытый из русла рек, отличающийся высокой степенью очистки и отсутствием посторонних включений, глинистых примесей и камушков.</p>
      <h2>Овражный песок</h2>
      <p>Овражный песок — это мелкая смесь зерен различных минералов размером от 0,15 до 5 мм, образованная при разрушении твердых горных пород. Добывается строительный карьерный песок открытым способом. Как правило, карьерный строительный песок по модулю крупности обычно мелкозернистый (1,6-2).</p>
      <h2>Подсыпка</h2>
      <p>Подсыпка — это Смесь грунтов с содержанием большого количества песка, глины и других примесей.Применяется подсыпка для выравнивания участка, обустройства газонов и при различных озеленительных работах. Подсыпка это разновидность грунта, который не используют в качестве плодородной почвы, из-за наличия в нем большого количества глины, песка и прочих примесей. Преимущества подсыпки, это низкая цена, что значительно удешевляет строительные работы и работы по выравниванию уровня земли на участке.</p>
      <h2>Отсев</h2>
      <p>Отсев (ф.0-5 мм) — самая мелкая фракция щебня, в строгом понимании - не относится к щебню, а является побочным продуктом при его изготовлении. Применяется как декоративный материал для отделки, а также для отсыпания дорожек и дорог, детских и спортивных площадок; для изготовления бетонных изделий, в частности с поверхностью "мытого бетона"</p>
      <h2>Щебень</h2>
      <p>Щебень — неорганический, зернистый, сыпучий материал с зернами крупностью свыше 5 мм (по европейским стандартам - более 3 мм), получаемый дроблением горных пород, гравия и валунов, попутно добываемых вскрышных и вмещающих пород или некондиционных отходов горных предприятий по переработке руд (черных, цветных и редких металлов металлургической промышленности) и неметаллических ископаемых других отраслей промышленности и последующим рассевом продуктов дробления.Зёрна щебня имеют различную форму, в зависимости от лещадности. Поверхность их шероховатая, поэтому они хорошо сцепляются с цементно-песчаным раствором в процессе изготовления бетона. Щебень фракции 3-8 и 5-20 используется для производства бетона и изделий из него. Фракцию 20-40 чаще всего применяют во время закладки фундаментов зданий (как часть «подушки»), а фракции 25-60 и 40-70 используются в дорожном строительстве.</p>
      <h2>Б\У Щебень</h2>
      <p>Б\У(вторичный) щебень - это щебень, полученый в результате разрушения и последующего дробления бетонных (железобетонных) конструкций, так же щебень изьятый с железнодорожных путей(при замене его на новый,чистый) данный щебень хорошо клинцуется из-за мазутных примесей.</p>
      
      </div>
          <div><h2>КОНТАКТЫ</h2><p>моб.номер</p></div>
    </div>
  </div>
</body>
</html>